/*General Details */
body {
	/* Positioning */ 

	/* Box-Model */
	padding-top: 70px;
	/* Typography */

	/* Visual */
	background-color:black;
	font-size: 20px; 
	color: white; /*TEMPORARY */

	/* Misc */
}

.about_me { 

}

.skills_and_resume {

}

.levelup_preview {
	
}

.contact {

}

/*
a {
  color:white;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
} */


/* Header + Navbar Details 
.navbar {
	/*positioning/sizing details
	position:relative;
	top:-25px;
	width:100%;
	height:50px;
	
	background-color:#0047ab;
	text-transform: uppercase;
}

.navbar ul {
	position:absolute;
	right:10px;
}

.navbar li {
	display:inline;

	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.navbar a {
	margin:10px;
}

.navbar h1 {
	width:300px;
	position:relative;
	left:15px;
} */


/* Social Media Bar details */
.social {
	/* Separates bar from flow, offsets from left. */
	position:absolute;
	left:20px;

}

/* Social Media Icon Styling */
.social ul {
	padding:0px;
	list-style-type: none;
}

.social li {
	margin-bottom:10px;
}

/* Content Styling 
.content {
	position:relative;
	left:100px;
	
	width:500px;
	
	color:white;
}

.content h2 {
	margin-top: 5px;
	margin-bottom:-3px;
}

.content p {
	margin-top:0px;
	margin-bottom:0px;
}*/


.completed {
	text-decoration: line-through;
	
}